// import { take, call, put, select } from 'redux-saga/effects';

// Individual exports for testing
export default function* {{ camelCase name }}Saga() {
    // See example in containers/HomePage/saga.js
}
